<div id="mainContainer">
    <div id="mainGrid">
        <div class="heroContainer" *ngFor="let hero of heroes$ | async" (click)="viewDetail(hero)">
            <div class="heroPicture">
                <img src="{{hero.picture}}" title="{{hero.name}}" >
            </div>
            <div class="heroInfo">
                <div class="heroPosition">{{hero.position}}</div>
                <span class="heroNickname">{{hero.nickname}}</span>
                <span class="heroName">{{hero.name}}</span>
                <span class="heroHeight">Estatura: {{hero.height}}</span>
            </div>
        </div>
    </div>
</div>