$transparent_white: "unquote('#ffffffbb')";
$transparent_red: "unquote('#ff0000aa')";

.mainContainer {
    background-image: url("../src/assets/background.jpg");
    background-size: cover;
    padding: 6.8rem;
}

.mainGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0.7rem;
    background-color: $transparent_white;
    padding: 1.6rem 0;
    justify-content: center;

    .heroContainer {
        height: 8.6rem;
        width: 19rem;
        display: flex;
        border-radius: 0.7rem;
        border-bottom: 0.15rem solid darkgrey;
        border-right: 0.15rem solid darkgrey;
        background-color: snow;
        margin: 0.5rem 1rem;

        .heroPicture {
            img {
                width: 70%;
                height: 76%;
                border-radius: 4rem;
                margin: 1.1rem 0rem 0rem 1.0rem;
            }
            display: flex;
            flex-basis: 50%;
            cursor: pointer;
        }

        .heroInfo {
            width: 9.5rem;
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            cursor: pointer;
            font-family: sans-serif;

            .heroPosition {
                border-radius: 4rem;
                background-color: $transparent_red;
                height: 1.7rem;
                width: 1.7rem;
                font-size: 1rem;
                font-weight: 700;
                color: snow;
                padding: 0.9em;
                position: relative;
                top: 0.3rem;
                right: 3.8rem;
            }

            .heroNickname {
                font-size: 1.3rem;
                font-weight: 700;
                color: crimson;
                left: 0.4rem;
                bottom: 0.7rem;
                position: relative;
                word-wrap: break-word;
                text-overflow: ellipsis;
            }

            .heroName, .heroHeight {
                color: darkgray;
                position: relative;
                left: 0.4rem;
                bottom: 0.4rem;
            }
        }
    }
}