<div id="mainContainer">
    <div class="heroContainer">
        <div *ngIf="(hero$ | async); else loading" class="heroPosition">
            <div class="heroPicture">
                <img src="{{ (hero$ | async).picture }}" title="{{ (hero$ | async).name }}" >
            </div>

            <div class="heroInfo">
                <form [formGroup]="form">
                    <label>Nickname:</label>
                    <input type="text" formControlName="nickname"><br>
                    <label>Name:</label>
                    <input type="text" formControlName="name" value="{{ (hero$ | async).name }}"><br>
                    <label>Estatura:</label> 
                    <input type="text" formControlName="height" value="{{ (hero$ | async).height }}"><span>mt</span><br>
                    <button (click)="returnToList()" [disabled]="!form.valid">Return</button>
                </form>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div>Loading ...</div>
</ng-template>  