<div id="mainContainer">
    <div class="heroContainer">
        <div class="heroPicture">
            <img src="{{hero.picture}}" title="{{hero.name}}" >
        </div>
        <div class="heroInfo">
            <div class="heroPosition">{{hero.position}}</div>
                <form>
                    Nickname: <input type="text" name="fname" value=hero.nickname><br>
                    Name: <input type="text" name="lname" value=hero.name><br>
                    Estatura: <input type="text" name="lname" value=hero.height><br>
                    <input type="submit" value="Submit">
                </form>
        </div>
    </div>
</div>